body {
    margin: 0;
    background-image: url("image/IMG_9597.JPG");
    background-size:cover;
    background-repeat: no-repeat;
}
.container {
    background-color: whitesmoke; 
    min-height: 100vh;
    box-shadow:rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0,0,0,0.3) 0px 1px 3px -1px;
}
    
.task-tabs{
    display:flex; 
    border-bottom: 1px solid lightgray;
    position: relative;
}

.task-tabs div{
    padding:1em;
}

.task-area{
    border:1px solid lightgray;
}

#underline {
    height: 4px;
    background-color: pink;
    position: absolute;
    width:70px;
    left:0px;
    top:52px;
    padding:0px;
}
.task-board{
    display:flex;
    
    justify-content: space-between;
    padding: 1em;
}

.taskDone {
    text-decoration: line-through;
    background-color: gray;
}

i.fa {
    font-size: 20px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: darkblue;
}
